.main {
  width: 100%;
  height: 100vh;
  background-color: rgba(238, 242, 245, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  &__form-container {
    width: 50%;
    height: min-content;
    align-self: center;
    background-color: white;
    border-radius: 4px;
    padding: 85px 80px;
    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 30px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 30px;
      &__form-group {
        border: 1px solid rgba(230, 230, 230, 1);
        border-radius: 10px;
        padding: 14px 26px;
        width: 100%;
        display: flex;
        align-items: center;
        &:focus {
          outline: none;
          border: 1px solid rgba(138, 192, 255, 1);
        }
        input {
          font-size: 14px;
          font-weight: 400;
          color: black;
          width: 100%;
          border: none;
          outline: none;
        }
        i {
          font-size: 22px;
        }
      }
      &__another-way {
        margin-bottom: 20px;
        &__line {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
          margin-bottom: 12px;
          hr {
            flex: 1;
            border: none;
            border-top: 1px solid #ccc;
            height: 1px;
            margin: 0;
          }

          p {
            margin: 0;
            line-height: 1;
            font-size: 14px;
            color: #666;
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
        }
        &__button-group {
          display: flex;
          justify-content: space-between;
          button {
            font-size: 27px;
            padding: 9px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: rgba(247, 247, 247, 1);
            border: none;
          }
        }
      }
      &__submit-button {
        border-radius: 8px;
        background: rgba(3, 102, 255, 1);
        font-size: 16px;
        font-weight: 600;
        border: none;
        padding: 16px 30px;
        color: white;
      }
    }
    &__change-account {
      display: flex;
      align-items: center;
      gap: 7px;
      margin-top: 14px;
      font-size: 12px;

      p {
        margin: 0;
      }
      a {
        color: rgba(3, 102, 255, 1);
      }
    }
  }
}
