@import "./variables";
@import "./mixins";
.main {
  width: $container-width;
  margin: 0 auto;
  .list-container {
    @include basic-list-template;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__list-name {
        font-size: 26px;
      }
      &__button-group {
        display: flex;
        align-items: center;
        gap: 10px;
        &__btn {
          display: flex;
          align-items: center;
          gap: 4px;
          background-color: transparent;
          border: none;
        }
        &__add-btn {
          border: none;
          background-color: rgba(103, 203, 101, 1);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin: 2px;
          transition: transform 0.2s ease-in-out;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $second-dgcolor;
        padding: 14px 20px;
        border-radius: 12px;
        align-items: center;
        h3 {
          font-size: 18px;
        }
        span {
          display: flex;
          align-items: center;
          gap: 8px;
          i {
            font-size: 20px;
          }
          p {
            font-weight: 300;
          }
        }
      }
    }
  }
}
