@import "./variables";
@import "./mixins";
.header {
  padding: 20px 40px;
  display: flex;
  gap: 43px;
  align-items: center;
  box-shadow: 1px 2px 11px 0px rgba(148, 148, 148, 0.25);
}
.form {
  padding: 9px 22px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 101px;
  flex-grow: 1;
  .form__submit-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .form__search-input {
    border: none;
    width: 100%;
    font-weight: 400;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgb(151, 151, 151);
    }
  }
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  .header-actions__btn {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    span {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 5px;
      height: 5px;
      background-color: #fd633d;
      border-radius: 50%;
    }
  }
}
.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  .header-user__img-container {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .header-user__show-menu {
    @include basic-trasition;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    padding: 7px;
    border-radius: 50%;
    &:hover {
      background-color: $second-dgcolor;
    }
  }
  &__dropdown {
    @include basic-trasition;
    position: absolute;
    top: 55px;
    background-color: white;
    width: 100%;
    border-radius: 7px;
    box-shadow: 1px 2px 11px 0px rgba(148, 148, 148, 0.25);
    left: 100vh;
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include basic-trasition;
        padding: 7px 23px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 7px;
        &:last-child {
          margin-top: 40px;
          font-weight: 500;
          border-top: 1px solid $second-dgcolor;
        }
        &:hover {
          background-color: rgb(241, 241, 241);
        }
      }
    }
  }
  &__dropdown-show {
    left: 0;
  }
}
